@import 'mixins.scss';
@import 'variables.scss';

$theme: "royal";
$ui-color: #0098f7;
$ui-text: #222222;
$ui-bg: $white;
$bg-color: #f5f5f5;
$ui-hover-color: mix($white, #999, 80%);
$ui-focused-color: mix($white, #999, 60%);
$ui-hover-light-color: mix($white, #999, 90%);
$ui-disabled-color: mix($white, $black, 74%);
$ui-active-color: #d6d6d6;
$ui-bg-color-more: $bg-color;
$btn-active-text: $ui-color;
$btn-text: $light-black;
$btn-hover-text: $light-black;
$floating-btn-text: $light-black;;
$drag-helper-bg:$ui-color;
$table-resizer: 1px solid $ui-color;
$btn-selected-text: $btn-text;
$btn-active-hover-text: $ui-color;
$btn-disabled-color: $ui-disabled-color;
$floating-btn-hover-text: $light-black;
$floating-btn-hover-bg: $btn-hover-bg;
$btn-active-bg: $ui-active-color;
$btn-selected-bg: $ui-focused-color;

@import 'theme.scss';